
@import "tailwindcss";

@theme {
  --font-title: "Bebas Neue", "Anton", sans-serif;
  --font-text: "Poppins", sans-serif;
}

#root {
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fdffe9;
}